/* ~~~~~ ScrollBar of the page starts ~~~~~ */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(35, 35, 35);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(105, 105, 105);
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(135, 135, 135);
}

/* ~~~~~ ScrollBar of the page ends ~~~~~ */

/* ~~~~~ Progress Bar of Player starts ~~~~~ */
/* Style for the custom range slider */
.player-progress {
    -webkit-appearance: none;
    width: 100%;
    height: 3.5px;
    border-radius: 5px;
    background: #7d7d7d;
    outline: none;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
}

/* Style for the slider thumb */
/* .progress-wrapper {
    position: relative;
    width: 100%;
}

.player-progress {
    width: 100%;
    height: 3.5px;
    border-radius: 5px;
    background: #7d7d7d;
    outline: none;
    cursor: pointer;
}

.player-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, #00ff55 0%, #00ff55 var(--seek-width), #7d7d7d var(--seek-width), #7d7d7d 100%);
    border-radius: 5px;
    z-index: -1;
} */

.player-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 4px;
    background: #8d8d8d;
}

.player-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.player-progress::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #00ff55;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.player-progress::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 255, 85, 0.1);
}

.player-progress::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 255, 85, 0.1);
}

.player-progress:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 255, 85, 0.2);
}

.player-progress {
    font-size: 26px;
    text-align: center;
}

/* ~~~~~ Progress Bar of Player ends ~~~~~ */

/* ~~~~~ Typography starts ~~~~~ */
.item-title,
.item-author,
.playlist-heading,
.show-all-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.item-title {
    font-weight: 700;
    font-size: 14.5px;
    letter-spacing: 0.2px;
}

.item-author {
    font-weight: 600;
    font-size: 13.5px;
    letter-spacing: 0.2px;
}

.playlist-heading {
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
}

.show-all-btn {
    font-weight: 700;
    font-size: 13.2px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.playlist-heading:hover,
.show-all-btn:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}

/* ~~~~~ Typography ends ~~~~~ */

/* ~~~~~ Shadow Effects starts ~~~~~ */
.card-shadow {
    box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.2),
        -3px 0px 1px rgba(0, 0, 0, 0.2);
}

.img-shadow {
    box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.4);
}

/* ~~~~~ Shadow Effects ends ~~~~~ */

/* ~~~~~ Main Block Player starts ~~~~~ */
#main-block {
    height: 100vh;
    overflow-y: auto;
}

#main-block::-webkit-scrollbar {
    width: 0;
}

/* ~~~~~ Main Block Player ends ~~~~~ */

/* ~~~~~ Play Item Styles starts ~~~~~ */
.item-play-btn {
    right: -85px;
    bottom: 44px;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.item-play-card:hover .item-play-btn {
    bottom: 51px;
    opacity: 1;
}

.item-play-btn:hover {
    transform: scale(1.055);
    -webkit-transform: scale(1.055);
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

/* ~~~~~ Play Item Styles ends ~~~~~ */