@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
#check-box-1:checked~.check-1 {
    display: block;
    /* Use 'display' property directly without '@apply' in regular CSS */
}

#check-box-2:checked~.check-2 {
    display: block;
    /* Use 'display' property directly without '@apply' in regular CSS */
}

/* For Webkit-based browsers (Chrome, Safari, and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge, and Firefox */
.scrollbar-hide {
    scrollbar-width: none;
    /* Specify 'scrollbar-width' property directly without '@apply' in regular CSS */
}

/* For IE and Edge */
.scrollbar-hide {
    -ms-overflow-style: none;
}